%h1= title 'Recent Edits'
- if @edits.nil?
  %p
    You haven't already page create and no change to see. So Maybe you can start by
    = link_to('create it!', url(:new_page, :page => params[:id]))
- else
  #edit-filters
    %button{ :type => 'submit' } Spam
    %button{ :type => 'submit' } Ham
    %button{ :type => 'submit' } All
  - @edits.each do |version|
    %ul#recent-edits
      %li{ :class => version.spam_or_ham }
        %h2= link_to_page_or_nothing(version)
        - form_for :edit, :action => url(:edit, version), :method => :put, :class => 'moderate-edit-form' do |f|
          .moderate-edit
            = mark_as_ham_or_spam(version)
        = version.content_html
