#menu
  %ul
    %li= link_to 'See page', url(:page, @page)

%h1= title 'History'

#list_version
  #versions
    // with datamapper 0.9, you can use @page.versions.all(:order =>
    // [:number])
    - @page.versions.sort_by{|a| a.number}.each do |version|
      = "#{version.number} - #{version.created_at.strftime '%m/%d/%Y %I:%M%p'} - #{@page.name}"
      - unless version.previous.nil?
        =view_diff(version.previous.diff(version))
