#menu
  %ul
    %li= link_to 'See page', url(:page, @page)

%h1= title 'History'

#list_version
  %ul#versions
    // with datamapper 0.9, you can use @page.versions.all(:order =>
    // [:number])
    - @page.versions.each do |version|
      %li= "#{version.number} - #{version.created_at.strftime '%m/%d/%Y %I:%M%p'} - #{@page.name}"
  
