%h2= title "Editing #{@page.name}"
= error_messages_for @page
- form_for :page, :action => url(:page, @page) do
  %ul#page-form
    %li
      %p
        = link_to 'Textile Enabled', 'http://hobix.com/textile/quick.html', :target => '_blank'
        | [[Page Name]] for internal links
      ~ text_area_field @version.content, :name => 'version[content]'
    %li= submit_button 'Submit'