- title 'Creating New Page'
= error_messages_for @page
= error_messages_for @version
- form_for :page, :action => url(:page), :id => 'page-form' do
  %p
    Creating a new page as
    = login_or_name
  %h1= text_control :name
  %ul
    %li
      %p
        = link_to 'Textile Enabled', 'http://hobix.com/textile/quick.html', :target => '_blank'
        | [[Page Name]] for internal links
      ~ text_area_field @version.content, :name => 'version[content]'
    %li= submit_button 'Submit'