%h1= title @page.name

~ @version.content_html

%p
  %form{ :action => url(:page, @page), :method => 'get', :id => 'select-version' }
    - if @version === @page.versions.last
      = link_to 'Edit Page', url(:edit_page, @page), :rel => 'nofollow'
    - else
      = link_to 'Revert to This Version', url(:edit_page, :id => @page.to_param, :version => @page.versions.index(@version)+1) 
    |
    = link_to 'History', url(:edit, @page)
    | Version:
    = select_versions_for_page @page, @version
    = submit_button 'Go', :id => 'go-button'
