%h1= title @page.name

~ @version.content_html

%p
  %form{ :action => url(:page, @page), :method => 'get', :id => 'select-version' }
    - if @version.number == @page.versions_count
      = link_to 'Edit Page', url(:edit_page, @page), :rel => 'nofollow'
    - else
      = link_to 'Revert to This Version', url(:edit_page, :id => @page.to_param, :version => @version.number) 
    |
    = link_to 'History', url(:edit, @page)
    | Version:
    = select_versions_for_page @page, @version, {:name => 'version', :id => 'version-select'}
    = submit_button 'Go', :id => 'go-button'
