!!! Strict
%html{ 'xml:lang' => 'en-us', :lang => 'en-us', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title= title :site => 'Merb Wiki'
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => "content-type" }/
    = css_include_tag :reset, :master, :theme
  %body
    #header
      #branding
        %h1 Merb
      %ul#navigation
        %li= highlighted_link_to 'Home', url(:home)
        %li= highlighted_link_to 'All Pages', url(:pages)
        %li.last= highlighted_link_to 'New Page', url(:new_page)
    - flash.each do |type, message|      
      #notice{ :class => type }
        %p= message
    #content
      = catch_content :for_layout
    #sidebar
      = part RecentUpdatesPart => :index
    #footer
      %p
        &copy;2006, Ezra Zygmuntowicz | Merb is released under the
        %a{ :href => 'http://www.opensource.org/licenses/mit-license.php' } MIT License 
        | Wiki powered by
        %a{ :href => 'http://github.com/meekish/collective' } Collective
    = js_include_tag :jquery, 'jquery-curvycorners', :application, 'chili/chili.pack.js'
    %script{ :type => 'text/javascript' }
      ChiliBook.recipeFolder = "/javascripts/chili/recipes/";
      ChiliBook.stylesheetFolder = "/stylesheets/chili/styles/";
